@font-face {
  font-family: "Univers";
  src: url("./fonts/UniversLightCondensed.ttf");
}

@font-face {
  font-family: "Ultrathins";
  src: url("./fonts/Ultrathins.ttf");
}

body {
  color: #7c868c;
}

.ss-container {
  @apply mx-auto max-w-5xl px-8;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
